﻿/* Estilo dos campos de textos e senha dos formularios */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilo para todos os botões */
button {
    background-color: #171A21;
    color: #D0D0D0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Estilo para o botão de cancelar */
.cancelbtn {
    padding: 14px 20px;
    background-color: #171A21;
}

/* Tamanho igual para os botoes de cancelar e signup(increver-se, entrar) */
.cancelbtn,.signupbtn {
	float:left;
	width:47%;
	padding: 10px 18px;
	margin:10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Centralizar o botao de fechar da modal box de login */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Modal box */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
}

/* Botao de fechar (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #171A21;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #D0D0D0;
    cursor: pointer;
}

/* Animação de zoom */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Mudar o estilo para o botao de cancelar e span em telas menores*/
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
