﻿body {
	margin: 0;
	padding: 0;
}

#mestre {
	height: 100%;
	background-color: #D0D0D0;
}

/* Estilização do menu lateral do site. */
#lateral{
	display:block;
	float: left;
	height: 700px;
	width: 20%;
	background-color: #171A21;
	position: fixed;
}

#lateralenv{
	display:block;
	float: left;
	height: 780px;
	width: 20%;
	background-color: #171A21;
	position: fixed;
}

#teste{
	display:block;
	float: left;
	height: 700px;
	width: 20%;
	background-color: #171A21;
}

/* Estilização da área de conteúdo do site. */
#direita {
	display:block; 
	float: left;
	height: 1000px;
	width: 80%;
	background-color: #D0D0D0;
}

#direitacont {
	display:block; 
	float: left;
	height: 1000px;
	width: 80%;
	background-color: #D0D0D0;
}

#direitasuges {
	display:block; 
	float: left;
	height: 1000px;
	width: 80%;
	background-color: #D0D0D0;
}

/* Estilização do texto que vai no topo de cada página. */
#topo {
	display:block; 
	float: left;
	height: 10%;
	width: 90%;
	background-color: #D0D0D0;
	margin-left: 50px;
	margin-bottom: 0px;
}

#topocont {
	display:block; 
	float: left;
	height: 10%;
	width: 90%;
	background-color: #D0D0D0;
	margin-left: 50px;
	margin-bottom: 0px;
}

/* Estilização da caixa de busca. */
#busca{
    background-color:#D0D0D0;
    border:solid 1px;
    border-radius:5px;
    width:80%;
	height: 27px;
	float:none; 
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}
 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:27px;
    width:80%;
}

/* Estilização da margem do slide. */
#slide{
	display:block;
	float: left;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 0px;
	margin-bottom: 50px;
}

/* Estilização do formulario. */
#form{
	display: block;
	float: left;
	margin-top: 25px;
	margin-left: 25%;
	margin-right: 0px;
	margin-bottom: 0px;
	
}	

input[type=text], textarea  {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
} 
  


 #cont input.limpar {
	background:#F2F2F2; 
	color:#171A21;
	width: 50%;
	height: 30%;
	
} 	

 #cont input.enviar {
	background:#F2F2F2; 
	color:#171A21;
	width: 25%;
	height: 5%;
	
} 	

/* Classe utilizada para estilizar e padronizar os posters no site. */
.poster {
	display: block;
	float: left;
	width: 10%;
	height: 15%;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* Classe utilizada para a estilização dos icones das redes sociais. */
.social {
	width: 40px;
	height: 40px;
}

.filmes {
	width: 175px;
	height: 250px;
	float: right;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.botao {
	width: 25px;
	height: 25px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


/* Classe para centralizar as imagens e o menu da div "lateral". */
.center {
	float:none; 
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}

/* Classe utilizada para a estilização da fonte no formulario de sugestão. */
.gen {
	font-family: Arial;
	font-size: 15px;
	color: #171A21;
}

/* Classe utilizada para colocar o efeito de crescer nas imagens da div "direita" do site. */
.grow:hover
{
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
}

/* Comandos utilizados para remover os marcadores da lista não ordenada utilizada no menu. */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
}

/* Comandos para padronizar as fontes do site. */
li  , hr , h6 , p  {
	font-family: Arial;
	font-size: 20px;
	color: #D0D0D0;
	font-weight: bold;
}

font  {
	font-family: Arial;
	font-size: 20px;
	color: #171A21;
	font-weight: bold;
}

p,h6 {
	color: #050a16;
	font-size: 25px
}

h1 {
	font-family: Arial;
	font-size: 15px;
	color: #262b38;

}

a:link 
{ 
	text-decoration:none; 
} 


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none; 
}

/*https://stackoverflow.com/questions/10476632/how-to-scroll-the-page-when-a-modal-dialog-is-longer-than-the-screen*/
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;

.button{
	padding:5px 15px 5px 15px;
	text-decoration: none;
	display: inline-block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	outline:none;
	position:relative;
	margin:10px;
	padding:20px 28px;
	border-radius:10px;
	font-family: Arial;
	font-size: 20px;
	color: #171A21;
	font-weight: bold;
}

.button:hover{
	background-color: #D0D0D0;
	color: #171A21
}

.button:active{
	top: 1px;
	left:1px;
}

.botao{
	background-color: #171A21;
	border: 2px solid #171A21;
	color: #D0D0D0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
			
/*.growbot:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
*/
/* Set a style for all buttons 
buttonform {*/
input[type=submit], input[type=reset]  {
    background-color: #171A21;
    color: #D0D0D0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

buttonform:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
/*.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #171A21;
}*/

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #171A21;
}

/* Float cancel and signup buttons and add an equal width */
.cancelarbtn,.alterarbtn {
    float: left;
    width: 49%;
	padding: 10px 18px;

}

.cancelarbtn {
	margin-left:2px;
}

.alterarbtn {
	margin-left:18px;
}

.excluirbtn {
    float: left;
    width: 100%;
	padding: 10px 18px;

}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
