﻿body {
	margin: 0;
	padding: 0;
}

/*Div principal.*/
#mestre {
	height: 100%;
	background-color: #FFFFFF;
}

/*Div do topo da página onde ficam os botões de login e cadastre-se.*/
#topo{
	display:block;
	float: left;
	height: 125px;
	width: 100%;
	background-color: #171A21;
}

/*Div do titulo acima do carrossel de imagens com os próximos lançamentos do cinema*/
#titulo {
	display:block; 
	float: left;
	height: 10%;
	width:50%;
	background-color: #D0D0D0;
	margin-left: 150px;
	margin-bottom: 10px;
}

/*Div onde fica o carrossel de imagens com os próximos lançamentos do cinema*/
#esquerdacont {
	display:block; 
	float: left;
	height: 700px;
	width: 100%;
	background-color: #D0D0D0;
}

/* Estilização dos formularios de login e cadastro. */
#login{
/*	display: block;
	float: left; */
	margin-top: 5%;
/*	margin-left: 3%; */
	margin-right: 0px;
	margin-bottom: 0px;
	
}	

#login input {
	background:#F2F2F2; 
} 
  
#login textarea {
	background:#F2F2F2; 
}

#login input.bot {
	background:#F2F2F2;
	border: 2px solid #F2F2F2;
	font-family: Arial;
	font-size: 15px;
	color: #171A21;
	font-weight: bold;
} 	

#cadastrar{
/*	display: block;
	float: left; */
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 0px;
	margin-bottom: 0px;
	
}	

#cadastrar input {
	background:#F2F2F2; 
} 
  
#cadastrar textarea {
	background:#F2F2F2; 
}

#cadastrar input.bot {
	background:#F2F2F2;
	border: 2px solid #F2F2F2;
	font-family: Arial;
	font-size: 15px;
	color: #171A21;
	font-weight: bold;
} 	

/* Classe para centralizar as imagens e o menu da div "lateral". */
.center {
	float:none; 
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}

/* Comandos utilizados para remover os marcadores da lista não ordenada utilizada no menu. */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
}

/* Comandos para padronizar as fontes do site. */
li  , hr , h6 , p  {
	font-family: Arial;
	font-size: 20px;
	color: #D0D0D0;
	font-weight: bold;
}

h5 {
	font-family: Arial;
	font-size: 20px;
	color: #171A21;
	font-weight: bold;
}

font  {
	font-family: Arial;
	font-size: 15px;
	color: #171A21;
	font-weight: bold;
}

p {
	color: #171A21;
	font-size: 25px
}

a:link 
{ 
	text-decoration:none; 
} 

/* Comandos para padronizar as imagens do site. */
.social {
	width: 100px;
	height: 80px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* Comandos para a estilização dos botões de cadastro e login. */
.button{
	padding:5px 15px 5px 15px;
	text-decoration: none;
	display: inline-block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	outline:none;
	position:relative;
	margin:10px;
	padding:20px 28px;
	border-radius:10px;
	font-family: Arial;
	font-size: 20px;
	color: #171A21;
	font-weight: bold;
}

.button:hover{
	background-color: #D0D0D0;
	color: #171A21;
	opacity: 0.8;
}

.button:active{
	top: 1px;
	left:1px;
}

.botao{
	background-color: #171A21;
	border: 2px solid #171A21;
	color: #D0D0D0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
			
.growbot:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}