﻿body {
	margin: 0;
	padding: 0;
}

#mestre {
	height: 100%;
	background-color: #FFFFFF;
}


#topo{
	display:block;
	float: left;
	height: 100px;
	width: 100%;
	background-color: #171A21;
}

/* Estilização da área de conteúdo do site. */
#direita {
	display:block; 
	float: left;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
}

#direitacont {
	display:block; 
	float: left;
	height: 1000px;
	width: 100%;
	background-color: #D0D0D0;
}

#direitacont2 {
	display:block; 
	float: left;
	height: 1000px;
	width: 100%;
	background-color: #D0D0D0;
}

#direitasuges {
	display:block; 
	float: left;
	height: 1000px;
	width: 80%;
	background-color: #D0D0D0;
}


/* Estilização da caixa de busca. */
#busca{
    background-color:#171A21;
    border:solid 1px;
    border-radius:5px;
    width:47%;
	height: 25px;
	float:none; 
	display:block; 
}
 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
	color: #D0D0D0;
    border:none;
    height:25px;
    width:80%;
}

/*table {
	border: 1px solid #171A21;
	width: 90%;
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

 Estilização do formulario. */
#form{
	display: block;
	float: left;
	margin-top: 25px;
	margin-left: 25%;
	margin-right: 0px;
	margin-bottom: 0px;
	
}	

input[type=text], textarea  {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
} 

.titulo  {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
} 
  


 #cont input.limpar {
	background:#F2F2F2; 
	color:#171A21;
	width: 50%;
	height: 30%;
	
} 	

 #cont input.enviar {
	background:#F2F2F2; 
	color:#171A21;
	width: 25%;
	height: 5%;
	
} 	


/* Classe para centralizar as imagens e o menu da div "lateral". */
.center {
	float:none; 
	display:block; 


	width: 30%;
	height: 50%;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.centerm {
	float:none; 
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}

/* Classe utilizada para a estilização da fonte no formulario de sugestão. */
.gen {
	font-family: Arial;
	font-size: 18px;
	color: #171A21;
}



/* Comandos utilizados para remover os marcadores da lista não ordenada utilizada no menu. */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
}

/* Comandos para padronizar as fontes do site. */
li  , hr , h6  {
	font-family: Arial;
	font-size: 20px;
	color: #D0D0D0;
	font-weight: bold;
}

font  {
	font-family: Arial;
	font-size: 20px;
	color: #171A21;
	font-weight: bold;
}

p {
	color: #171A21;
	font-size: 25px
}

/*h1 {
	color: #171A21;
	font-size: 15px;
	font-weight: bold;
}*/

.adm {
	border: 1px solid #171A21; 
}
.tab {
	border-top:1px solid #171A21;
}

a:link 
{ 
	text-decoration:none; 
	font-size: 15px;
}


/* CODIGO MENU DROPDOWN */

/*Configurações Padrões*/
ul.menu, .menu li, .menu a{ margin:0; padding:0; list-style:none; text-decoration:none;}
ul.menu ul{ position:absolute; display:none; box-shadow:3px 3px 2px #333;}
 
/* Configurações nivel 1*/
ul.menu{ float:left; font-family:Verdana, Geneva, sans-serif; font-size:15px; border-radius:5px; padding:0 5px;}
.menu li{ float:left; width:auto; position:relative;}
.menu li a{ display:block; padding:0 20px; line-height:45px; height:45px; float:left; transition:all 0.1s linear; }
 
/* Configurações nivel 2*/
.menu li:hover > ul.submenu-1{ display:block; top:45px; left:0; padding:5px; width:200px; border-radius:0 0 5px 5px;   }
.menu ul.submenu-1 a{  width:160px; padding:0 20px; border-radius:5px;  }
 

 
/*Configurações de cores*/
 
/*nivel 1*/
.menu{background:#171A21; } 
.menu a{ color:#D0D0D0;}  
.menu li:hover > a{ background:#D0D0D0;  color:#171A21;} 
 
/*nivel 2*/
.submenu-1{ background:#D0D0D0;} 
.submenu-1 a{color:#171A21;} 
.submenu-1 li:hover > a{ background:#171A21; color:#D0D0D0; } 
 

 
 /* Classe utilizada para a estilização dos icones das redes sociais. */
.social {
	width: 80px;
	height: 60px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.admin {
	width: 100%;
	height: 15%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.buscar {
	height: 21px;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}


/* Comandos para a estilização dos botões de cadastro e login. */
.button{
	padding:5px 15px 5px 15px;
	text-decoration: none;
	display: inline-block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	outline:none;
	position:relative;
	margin:10px;
	padding:20px 28px;
	border-radius:10px;
	font-family: Arial;
	font-size: 20px;
	color: #171A21;
	font-weight: bold;
}

.button:hover{
	background-color: #D0D0D0;
	color: #171A21;
	opacity: 0.8;
}

.button:active{
	top: 1px;
	left:1px;
}

.botao{
	background-color: #171A21;
	border: 2px solid #171A21;
	color: #D0D0D0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
			
.growbot:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.enviarbtn {
	float:left;
	width:47%;
	padding: 10px 18px;
	margin:10px;
}

input[type=submit]{
    background-color: #171A21;
    color: #D0D0D0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* CORES

#171A21
#D0D0D0
#FFFFFF
#050a16

*/

.button{
	padding:5px 15px 5px 15px;
	text-decoration: none;
	display: inline-block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	outline:none;
	position:relative;
	margin:10px;
	padding:20px 28px;
	border-radius:10px;
	font-family: Arial;
	font-size: 20px;
	color: #171A21;
	font-weight: bold;
}

.button:hover{
	background-color: #D0D0D0;
	color: #171A21
}

.button:active{
	top: 1px;
	left:1px;
}

.botao{
	background-color: #171A21;
	border: 2px solid #171A21;
	color: #D0D0D0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
			
.growbot:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* Set a style for all buttons 
buttonform {*/
input[type=submit], input[type=reset]  {
    background-color: #171A21;
    color: #D0D0D0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

buttonform:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
/*.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #171A21;
}*/

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #171A21;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.enviarbtn {
	float:left;
	width:47%;
	padding: 10px 18px;
	margin:10px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}