﻿/* Estilo dos campos de textos e senha dos formularios */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilo para todos os botões */
button {
    background-color: #171A21;
    color: #D0D0D0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Estilo para o botão de cancelar */
.cancelbtn {
    padding: 14px 20px;
    background-color: #171A21;
}

/* Tamanho igual para os botoes de cancelar e signup(increver-se, entrar) */
.cancelbtn,.signupbtn {
    float: left;
    width: 49%;
	padding: 10px 18px;

}

.cancelbtn {
	margin-right:18px;
}

/* Adiconar espaçamento interno dentro do container no formulario*/
.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Mudar o estilo para os botoes de cancelar e signup em telas menores*/
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}